{:production true
 :port 3000
 :storage {:file {:user {:path "~/user.edn"
                         :default db-devops.db.user/ALL-USER}
                  :checklist {:path "~/checklist.edn"
                              :default db-devops.db.checklist/ALL-CHECKLIST}
                  :verify {:path "~/verification.edn"
                           :default db-devops.db.verification/ALL-VERIFICATION}}}
 :external-api {:remote-executor {:url "http://k.cmbchina.com/open/strategy/rs6000/exec_command"
                                  :script-home "/home/nemo/scripts/change/midware_control/"
                                  :auth-info ["ooflow" "ooflow"]}
                :upgrade-api {:url "http://k.cmbchina.com/open/strategy/rs6000/exec_command"
                              :script-home "/home/nemo/scripts/change/midware_control/"
                              :auth-info ["ooflow" "ooflow"]}}}
