{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :external-api {:remote-executor {:url "http://99.1.76.195/ngap/api/operation/rs6000/exec_command/ooflow"
                                  :script-home "/home/ooflow/scripts/middleware/db-upgrade"
                                  :user "zjjglpt"
                                  :pass "zjjglpt"}}}
